*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

body{
	background-color: #2e2e2e;
	color: white;
	font-family: 'JetBrains Mono', monospace ;
}

.response{
	color: #3ddbd9;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 15px;
}

#container1{
	width: 80%;
	height: 500px;
	margin: auto;
	margin-top: 100px;
	text-align: center;
	border: solid 2px #535353;
	padding-top: 50px;
	background-color: #282828;
}

#container2{
	width: 80%;
	height: 500px;
	margin: auto;
	margin-top: 100px;
	text-align: center;
	padding-top: 50px;
}

#container2 h1{
	text-align: left;
}

#mainContent{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 20px;
}

.content{
	width: 45%;
	height: 300px;
	border: solid 2px #535353;
	padding: 40px;
	text-align: left;
	background-color: #282828;
}

.content2{
	width: 60%;
	height: 600px;
	border: solid 2px #535353;
	padding: 40px;
	text-align: left;
	background-color: #282828;
}

.content3{
	width: 40%;
	height: 600px;
	border: solid 2px #535353;
	border-left: none;
	padding: 40px;
	text-align: left;
	background-color: #282828;
}


p{
	margin-top: 10px;
	margin-bottom: 5px;
	color: #b0b0b0;
	font-size: 14px;
}


input{
	width: 100%;
	background-color: #2e2e2e;
	border: solid 2px #535353;
	color: white;
	height: 40px;
	padding:10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'JetBrains Mono', monospace ;
}

input:focus{
	outline: none;
	border-color: #3ddbd9;
}


select{
	width: 100%;
	height: 40px;
	background-color: #2e2e2e;
	color: white;
	border: solid 2px #535353;
	margin-bottom: 15px;
	padding-left: 10px;
	font-family: 'JetBrains Mono', monospace ;
}

select:focus{
	outline: none;
	border-color: #3ddbd9;
}


button{
	width: 150px;
	height: 40px;
	font-size: 16px;
	color: white;
	background-color: #78a9ff;
	border: none;
	cursor: pointer;
	transition: 0.2s;
	font-family: 'JetBrains Mono', monospace ;
	margin-top: 10px;
}

button:hover{
	background-color: #5a8dee;
	transform: translateY(-2px);
}


h1{
	color:#ff7eb6;
	margin-bottom: 20px;
	font-weight: 600;
}
